#gimg {
    padding-top: 180px;

}

.sb {
    width:50%; 
    margin:0 auto;
}

.btns {
	text-align: center;
}

form {
    margin:0 auto;
}

input {
	margin:0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
